<HTML>

<BODY bgcolor="cyan">
    <form method="POST" action="/login">
        <center>
            <H1>Инструменты для Project</H1> <br>
            Ввод пользователя <input type="text" name="fname" /> <br>
            <H1></H1> <br>
            Ввод проекта <input type="text" name="lname" /> <br>
            <H1></H1> <br>
            <input type="submit" value="Состав проекта" name="action1" />
            <input type="submit" value="Список всех контекстов" name="action2" />
            <input type="submit" value="Удаление пользователя из проетак" name="action3">
            <input type="submit" value="добавление" name="action4">
        </center>
    </form>
</BODY>

</HTML>