<HTML>
    <BODY bgcolor="cyan">
    <form method="POST" action="/login">
        <center>
        <H1>Инструменты для Windchill</H1> <br>
        Ввод пользователя <input type = "text" name= "fname" /> <br> 
        <H1></H1> <br> 
        Ввод проекта <input type = "text" name = "lname" /> <br>
        <H1></H1> <br>
        <input type="submit" value="Состав проекта" name="action1"/>
        <input type="submit" value="Список всех контекстов" name="action2" />
        <input type = "submit" value="Удаление пользователя из проетак" name="action3">
        <input type = "submit" value="добавление" name="action4">
        <!-- <input type = "submit" value="VALUE4" name="action4">
        <input type = "submit" value="VALUE5" name="action5"> -->

        </center>
    </form>
    </BODY>
    </HTML>