<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="../static/style.css">      
    </head>
    <body>
      <center> 
        <form method="POST" action="/export">
        Ввод пользователя <input value={{data['user_name']}} type = "text" name= "fname" /> <br> 
        <H1></H1> <br> 
        Ввод проекта <input value={{data['project_name']}}  type = "text" name = "lname" /> <br>
        <input type = "submit" value="Скачать" name="action5">
        </form>
      <table border="1">
        <caption>Результат</caption>
        
        <tr>
          {% for key in keys%}
         <th>{{key}}</th>
         {% endfor %}
        </tr>
        {% for user in msg%}
        <tr>
          {% for key in keys%}
         
         <td>{{user[key]}}</td>
         {% endfor %}
        </tr>
        
        {% endfor %}
       </table>

      </center> 
    </body>
</html>